.cont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.box {
  text-align: center;
  width: 60vw;
  height: 25vh;
  border: 2px solid gray;
  background-color: lightgrey;
  margin: 10px;
  padding: 5vh;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
