.cont, .header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.names{
    height: 100%;
    overflow-y: scroll;
    width: fit-content;
}

.col{
    flex-direction: column;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#menu{
    height: 250px;
}

#start{
    width: 50px;
}

.header, .fill{
    width: 100%;
}

main {
    height: 85vh;
    padding: 10px;
}

.header{
    height: 10vh;
    background-color: aquamarine;
    justify-self: flex-start;
    align-items: center;
}

a, .link{
    text-decoration: none;
    color: black;
}

.link{
    font-weight: 900;
    font-size: large;
}

#answer, #submit{
    width: 200px;
    height: 25px;
    margin-top: 10px;
}