body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ebdfb6;
  padding: 0;
  margin: auto;
  height: 100vh; }

.top-corner {
  position: absolute;
  top: 0;
  right: 0; }

.img {
  padding: 10px;
  height: 165px;
  width: 250px; }

.tall {
  width: 165px;
  height: 250px; }

.imgL {
  float: left; }

.imgR {
  float: right; }

.hover-button {
  border: black outset 2px;
  border-radius: 5px;
  padding: 1px 6px 1px 6px;
  text-align: center;
  color: inherit; }
  .hover-button:hover {
    background-color: #ebdfb6;
    color: #000000; }

header {
  text-align: center; }

footer, header, .hover-button {
  color: #33cc33;
  padding: 10px;
  background-color: #d70c02; }

footer, header {
  display: flex;
  justify-content: space-around; }

section {
  background: url("../Images/backimage.jpg");
  padding: 5px;
  width: 900px;
  background-repeat: repeat-y; }

footer, body {
  width: 900px; }

main {
  margin: 20px;
  padding: 10px; }

article {
  width: 800px;
  margin: auto;
  margin: 15px; }

tr:nth-child(even) {
  background-color: #ffd8d8; }

td + td {
  text-align: right; }

table {
  width: 100%;
  padding: 5px;
  font-size: large;
  color: #000100; }
  table caption {
    font-size: larger;
    font-weight: 600; }

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  nav a {
    text-decoration: none; }
