@use "_variables.scss";

*{
  color: variables.$textColor;
}

header{
  display: flex;
  justify-content: space-around;
  height: 100px;
  background-color: variables.$secondaryColor;
  align-items: center;
}

body {
  margin: 0;
}

.logo1{
  color: #db0000;
}

.logo2{
  color: #00b121;
}

.logo-hold{
  background-color: #565555;
  padding: 12px;
  border-radius: 12px;
  
  div{
    display: block;
    font-weight: 800;
    font-size: larger;
  }
}

footer{
  background-color: variables.$secondaryColor;
  text-align: center;
  padding: 10px;
}

.content{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}