html
    head
        title User Details
    body
        div
            div displayName: #{user.displayName}
            div email: #{user.emails[0].value}
            div givenName: #{user.name.givenName}
            img(src=user.photos[0].value, referrerpolicy='no-referrer')
        div
            a(href='/logout') Logout
        
